# Тест соединения с базой

In [64]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.cross_validation import cross_val_score
from sklearn.cross_validation import cross_val_predict
import datetime as dt
import matplotlib.pyplot as plt
%matplotlib inline
from alex.database import Database

In [65]:
# connection_string = f"mssql+pymssql://Alex:cawa1728@10.7.0.19/Arbitron"
# engine = create_engine(connection_string)
# connection = engine.connect()

In [66]:
# def query(sql):
#     """
#     executes query against MSSQL, returns Pandas Dataframe
#     """
#     try:
#         df = pd.read_sql_query(sql, connection)  # выполняем sql запрос и записываем результат в pandas dataframe
#         return df

#     except Exception as e:
#         print(e)

In [67]:
# exchange = "binance"
# pair = "ETH/USDT"

In [68]:
# sql_orderbook = f"select * from v_order_book with (snapshot) where exchange='{exchange}' and pair='{pair}'"
# df_orderbook = query(sql_orderbook)

In [69]:
# db = Database()

In [70]:
# sql_orderbook = f"select * from tvf_get_order_book_snapshots(2880) where exchange='{exchange}' and pair='{pair}'"
# df_orderbook = db.query(sql_orderbook)

In [71]:
# sql_history = f"select * from v_history with (snapshot) where exchange='{exchange}' and pair='{pair}' and dt>'2018-09-17'"

In [72]:
# df_history = query(sql_history)

In [73]:
# df_history.set_index('dt', inplace=True)

In [74]:
#df_orderbook.reset_index(inplace=True)

#order = df_orderbook['2018-09-29 00:00:00':'2018-09-30 16:00:00'][['amount', 'volume', 'bid_ask']]#.resample('T').sum()
# order.shape

In [75]:
# import datetime
# df_orderbook['time'] = pd.to_datetime(df_orderbook.dt)
# df_orderbook['day'] = df_orderbook.time.dt.day
# df_orderbook['hour'] = df_orderbook.time.dt.hour
# df_orderbook['min'] = df_orderbook.time.dt.minute
# order = df_orderbook.groupby(['day', 'hour', 'min'])['amount','volume', 'bid_ask'].agg(['sum', 'max'])

# #[(df_orderbook.dt >= '2018-09-29 00:00:00') & (df_orderbook.dt < '2018-09-30 16:00:00')]

# order.head()

In [76]:
#df_orderbook.sort_values('dt').tail()

In [77]:
# order.sort_values('dt').head()

In [78]:
# history = df_history['2018-09-29 00:00:00':'2018-09-30 16:00:00'][['price']].resample('T').mean()

In [79]:
# history.head()

In [80]:
# history.to_csv('history_test.csv')

In [81]:
#order.to_csv('order_test.csv')

In [84]:
order = pd.read_csv('order_test.csv')
order.set_index('dt', inplace=True)

history = pd.read_csv('history_test.csv')
history.set_index('dt', inplace=True)

In [85]:
order.shape

(2377, 2)

In [86]:
history.shape

(2400, 1)

In [ ]:
df_merged = history.merge(order, on='dt')

In [ ]:
#df_merged[['price', 'volume']].plot(figsize=(16,7))

In [ ]:
# добавляем скользящие средние
df_merged['price_history_pct'] = df_merged.price.pct_change()
df_merged['volume_orderbook_pct'] = df_merged.volume.pct_change()
df_merged.head()

#forward fill nans
df_merged = df_merged.fillna(method='ffill')

#add binar column: if price goes up 1 else 0
df_merged['isup'] = np.where(df_merged.price > df_merged.price.shift(1), 1, 0)
df_merged.dropna(inplace=True)

In [96]:
order.head()

                          amount         volume
dt
2018-09-29 00:23:00  2364.841043  516240.820082
2018-09-29 00:24:00     0.000000       0.000000
2018-09-29 00:25:00     0.000000       0.000000
2018-09-29 00:26:00     0.000000       0.000000
2018-09-29 00:27:00     0.000000       0.000000