# Order book visualization

In [1]:
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [10, 8]
import numpy as np
import pandas as pd
from decimal import Decimal
from alex.database import Database # вспомогательный класс для подключения к базе и работе с sql
%matplotlib inline

In [2]:
# чтобы посмотреть содержимое файла database.py, из которого импортируется Database, раскомментируй следующую строку:
#%load alex/database/database.py

In [3]:
db = Database() # подключение к базе данных с учётными данными для Alex

In [4]:
def optimize_df(df):
    # оптимизация размера датафрейма - преобразование в категории того, чего надо 
    # и присвоение типа Decimal фин.показателям
    for col in df.columns:
        if col in ('exchange', 'pair', 'bid_ask'):
            df[col] = df[col].astype('category')
        if col in ('price', 'amount', 'volume'):
            df[col] = df[col].astype(Decimal)
    return df

## Most recent Order book

In [5]:
exchange = "binance"
pair = "ETH/USDT"

In [6]:
sql_orderbook = f"select * from v_order_book with (snapshot) where exchange='{exchange}' and pair='{pair}'"
df_orderbook = optimize_df(db.query(sql_orderbook))

In [7]:
df_orderbook.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
id_ex_pair    200 non-null int64
exchange      200 non-null category
pair          200 non-null category
dt            200 non-null datetime64[ns]
bid_ask       200 non-null category
price         200 non-null object
amount        200 non-null object
volume        200 non-null object
dtypes: category(3), datetime64[ns](1), int64(1), object(3)
memory usage: 8.7+ KB

In [8]:
bids = df_orderbook.loc[df_orderbook.bid_ask=='bid', :]

In [9]:
bids.head()

,id_ex_pair,exchange,pair,dt,bid_ask,price,amount,volume
3,19,binance,ETH/USDT,2018-10-01 15:22:16,bid,227.8,123.881,28220
4,19,binance,ETH/USDT,2018-10-01 15:21:35,bid,229.63,0.43505,99.9005
7,19,binance,ETH/USDT,2018-10-01 15:21:16,bid,228.3,49.0977,11209
8,19,binance,ETH/USDT,2018-10-01 15:21:16,bid,228.76,53.0818,12143
11,19,binance,ETH/USDT,2018-10-01 15:21:16,bid,228.81,62.9616,14406.2

In [10]:
bids['a'] = 1

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [11]:
Decimal('0.07') + Decimal('0.02')

Decimal('0.09')

In [12]:
0.1 + 0.02

0.12000000000000001