In [2]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.cross_validation import cross_val_score
import datetime as dt
import matplotlib.pyplot as plt
%matplotlib inline
from alex.database import Database

C:\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [3]:
db = Database()

In [4]:
exchange = "binance"
pair = "ETH/USDT"

In [5]:
sql_orderbook = f"select * from tvf_get_order_book_snapshots(1440) where exchange='{exchange}' and pair='{pair}'"
df_orderbook = db.query(sql_orderbook)

In [16]:
df_orderbook.sort_values('dt').tail()

,dt,exchange,pair,bid_ask,price,amount,volume
54070,2018-09-27 18:49:10,binance,ETH/USDT,bid,214.979996,0.07062,15.181888
54071,2018-09-27 18:49:10,binance,ETH/USDT,bid,214.970001,6.65893,1431.470093
54072,2018-09-27 18:49:10,binance,ETH/USDT,ask,220.089996,2.01480,443.437347
54062,2018-09-27 18:49:10,binance,ETH/USDT,ask,218.899994,0.72276,158.212158
54098,2018-09-27 18:49:10,binance,ETH/USDT,bid,214.800003,4.11392,883.670044

In [6]:
df_orderbook.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106856 entries, 0 to 106855
Data columns (total 7 columns):
dt          106856 non-null datetime64[ns]
exchange    106856 non-null object
pair        106856 non-null object
bid_ask     106856 non-null object
price       106856 non-null float64
amount      106856 non-null float64
volume      106856 non-null float64
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 5.7+ MB

In [8]:
len(df_orderbook.dt.unique())

533